<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a></li>
            <li class="breadcrumb-item" [routerLink]="['/play5']" routerLinkActive="active">Playstation V</li>
        </ol>
    </nav>
</div>
<div class="container justify-content-arond">
    <div class="card cardSpace" *ngFor="let item of itens">
        <img [src]="item.pathImage" alt="imagem Produto">
        <h4> {{item.name}} </h4>
    </div>
</div>